CMakeCache.txt
CMakeFiles
CMakeScripts
*.cmake
build/*
TAGS
Testing
Makefile
cmake_install.cmake
install_manifest.txt
compile_commands.json
CTestTestfile.cmake
bin/**
lib/**
doc/html/**
*.eps
*.gnuplot
*.swp
*.swo
*.vtk
build*/
.vscode/settings.json
src/.vscode/settings.json
src/dummy/*

