CMakeCache.txt
CMakeFiles
CMakeScripts
*.cmake
build/*
TAGS
Testing
Makefile
cmake_install.cmake
install_manifest.txt
compile_commands.json
CTestTestfile.cmake
bin/**
lib/**
doc/html/**
*.eps
*.gnuplot
*.swp
*.swo
*.vtk
build*/
.vscode/settings.json
src/.vscode/settings.json
src/dummy/*
tests/integration_tests_control_files/decaying_homogeneous_isotropic_turbulence/setup_files/1proc/*.dat
tests/integration_tests_control_files/decaying_homogeneous_isotropic_turbulence/setup_files/4proc/*.dat
tests/unit_tests/grid/gmsh_reader/*.msh
tests/meshes/*.msh
