CMakeCache.txt
CMakeFiles
CMakeScripts
*.cmake

Testing
Makefile
cmake_install.cmake
install_manifest.txt
compile_commands.json
CTestTestfile.cmake
bin/**
lib/**
doc/html/**
*.eps
*.gnuplot
*.swp
*.swo
